{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
    <h1 class="alignCenter">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
     <img src="{{ STATIC_URL }}images/fleuron-large-brown.png" alt="" class="divider" /><br/><br/>
    {% if token_fail %}
        {% url account_reset_password as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="" class="alignCenter">
                {% csrf_token %}
                <fieldset class="inlineLabels">
                    {{ form|as_uni_form }}
                     <div class = "alignCenter">
                         <input align="middle" class="btn-submit" type="submit" name="action" value="{% trans "Change Password" %}"/>

                    </div>
                </fieldset>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
