{% load socialaccount %} 
<!-- These snippets look out of date! -->

{% if allauth.openid_enabled %}
<a href="{% provider_login_url "openid" openid="https://www.google.com/accounts/o8/id" next="/success/url/" %}">Google</a>
{% endif %}
{% if allauth.twitter_enabled %}
<a href="{% provider_login_url "twitter" %}">Twitter</a>
{% endif %}
{% if allauth.facebook_enabled %}
<a href="{% provider_login_url "facebook" method="oauth2" %}"><img src="{{ STATIC_URL }}images/btn-fbconnect.png" alt="" class="divider"/></a>
{% endif %}
